---
import Page from '../layouts/page.astro'
interface Frontmatter {
    blurb: string
    _slug: string
    image: string
    year: string
}
export async function getStaticPaths() {
    const books = await Astro.glob<Frontmatter>('../content/books/*.mdx')

    return books.map((book) => ({
        params: {
            book: book.frontmatter._slug,
        },
        props: {
            book,
        },
    }))
}

const { Content } = Astro.props.book
const { image, year, blurb } = Astro.props.book.frontmatter
---

<Page title={`My ${year} reading list`}>
    <article>
        <header class="italic text-md py-2 border-b-slate-100 border-b-solid border-b mb-2">
            {(<p>{blurb}</p>)}
        </header>

        <img src={'/images/books/' + image} alt={blurb} class="w-full mb-4" />
        <Content />
    </article>
</Page>
