---
import Page from '../layouts/page.astro'
import { format, parse } from 'date-fns'
interface Frontmatter {
    title: string
    _slug: string
    abstract: string
    author: string
    image: string
    date: string
}
export async function getStaticPaths() {
    const articles = await Astro.glob<Frontmatter>('../content/articles/*.mdx')

    return articles.map((article) => ({
        params: {
            slug: article.frontmatter._slug,
        },
        props: {
            article,
        },
    }))
}

const { Content } = Astro.props.article
const { title, abstract, image, date } = Astro.props.article.frontmatter
---

<Page title={title}>
    <article>
        <header class="italic text-md py-2 border-b-slate-100 border-b-solid border-b mb-2">
            {(<p>{abstract}</p>)}
        </header>
        <div class="">
            Published {format(parse(date, 'yyyy-MM-dd', new Date()), 'd MMMM yyyy')}
        </div>
        <img src={'/images/articles/' + image} alt={title} class="w-full mb-4" />
        <Content />
    </article>
</Page>
