---
import Page from '../layouts/page.astro'
---

<Page title="Vincent Ramdhanie">
    <div class="w-1/2 mx-auto p-8">
        A new <a href="https://astro.build" class="underline hover:text-gray-300">Astro</a> site is coming
        soon...
    </div>
</Page>
