---
import Page from '../layouts/page.astro'
---

<Page title="Vincent Ramdhanie">
    <div class="">
        A new <a href="https://astro.build" class="underline hover:text-gray-300">Astro</a> site is coming
        soon...
    </div>
</Page>
