---
import Page from '../layouts/page.astro'
import Quote from '../components/quote'
import Title from '../components/title'
import Biblio from '../components/biblio'
import { Icon } from 'astro-icon'
---

<Page title="Vincent Ramdhanie">
    <div class="py-2">
        I am a <a
            href="https://bahai.org"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Baha'i</a
        >. Baha'is are working in your neighbourhood to build better communities and develop an ever
        advancing society. You can read more about the work of the Baha'is <a
            href="https://www.bahai.org/action"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">here</a
        >.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        I am a software engineer. I work at <a
            href="https://lindy.ai"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Lindy</a
        >. At Lindy we are building a virtual employee. Lindy will change the way we work and live
        in significant ways.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        Any hope of contributing to a brighter future for mankind, must rest on the fundamental
        acceptance of the nobility of man.

        <Quote author="Baha'u'llah">
            <span class="font-semibold">O SON OF SPIRIT!</span>
            <span class="block"
                >Noble have I created thee, yet thou hast abased thyself. Rise then unto that for
                which thou wast created.</span
            >
        </Quote>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2 max-w-3xl">
        <Title title="2023" subtitle="Reading List" />
        <ul class="list-none">
            <li class="flex">
                <Icon name="check" class="w-12 text-green-400 shrink-0" />
                <Biblio
                    title="The Three-Body Problem"
                    author="Cixin Liu"
                    year="2008"
                    cover="three_body_problem.jpeg"
                />
            </li>
            <li class="flex">
                <Icon name="check" class="w-12 text-green-400" />
                <Biblio
                    title="The Dark Forest"
                    author="Cixin Liu"
                    year="2008"
                    cover="dark_forest.jpeg"
                />
            </li>
            <li class="flex">
                <Icon name="check" class="w-12 text-green-400" />
                <Biblio
                    title="Death's End"
                    author="Cixin Liu"
                    year="2010"
                    cover="deaths_end.jpeg"
                />
            </li>
            <li class="flex">
                <Icon name="check" class="w-12 text-green-400 shrink-0" />
                <Biblio
                    title="The Dragons of Eden: Speculations on the Evolution of Human Intelligence"
                    author="Carl Sagan"
                    year="1977"
                    cover="dragons_of_eden.jpeg"
                />
            </li>
            <li class="flex items-center">
                <Icon name="reading" class="w-12 text-orange-400 shrink-0" />
                <Biblio
                    title="The Quest for Eden"
                    author="Elena Maria Marsella"
                    year="1966"
                    cover="the_quest_for_eden.jpg"
                />
            </li>
        </ul>
    </div>
</Page>
