---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body class="font-mono">
        <main class="w-1/2 mx-auto p-8">Coming soon...</main>
    </body>
</html>
