---
import Page from '../layouts/page.astro'
import Quote from '../components/quote'
import Title from '../components/title'
import Biblio from '../components/biblio'
import { Icon } from 'astro-icon'
---

<Page title="Vincent Ramdhanie">
    <div class="py-2">
        I am a <a
            href="https://bahai.org"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Baha'i</a
        >. Baha'is are working in your neighbourhood to build better communities and develop an ever
        advancing society. You can read more about the work of the Baha'is <a
            href="https://www.bahai.org/action"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">here</a
        >.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        I am a software engineer. I work at <a
            href="https://lindy.ai"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Lindy</a
        >. At Lindy we are building a virtual employee. Lindy will change the way we work and live
        in significant ways.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        <div class="font-bold">Artificial Intelligence</div>
        <p class="py-2">
            Artificial intelligence is in the spotlight these days, and deservedly so. It has the
            potential to alter human society and affect the progress of mankind. Without
            exaggeration, artificial intelligence unlocks the power to new unimaginable scientific
            advancements and improvements to the quality of life of all the peoples of the world.
        </p>
        <p class="py-2">
            I have studied artificial intelligence since my undergraduate days. At that time, I
            studied neural networks, decision support systems, and compilers in an attempt to
            understand this vast field. Later, during my graduate studies, I studied the application
            of artificial intelligence as well as Prolog and SML. My Master's thesis was on
            implementing a parallel version of the simmulated annealing algorithm on GPU
            architecture.
        </p>
        <p class="py-2">
            It was some years later that the field of Machine Learning came to the forefront and I
            was able to spend some time teaching and mentoring students in this area.
        </p>
        <p class="py-2">
            Today, I am part of a team of engineers that are implementing an artificial intelligence
            system to free humanity from work. The challenges are myriad but the opportunities to
            learn and explore are endless.
        </p>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        Any hope of contributing to a brighter future for mankind, rest on the fundamental
        acceptance of the nobility of man.

        <Quote author="Baha'u'llah">
            <span class="font-semibold">O SON OF SPIRIT!</span>
            <span class="block"
                >Noble have I created thee, yet thou hast abased thyself. Rise then unto that for
                which thou wast created.</span
            >
        </Quote>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2 w-full max-w-3xl">
        <Title title="2024" subtitle="Reading List" />
        <ul class="list-none">
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="How to Expect the Unexpected: The Science of Making Predictions―and the Art of Knowing When Not To"
                    author="Kit Yates"
                    year="2023"
                    cover="expect_the_unexpected.jpeg"
                >
                    This book was featured on the Physics World podcast.
                </Biblio>
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Math of Life and Death: 7 Mathematical Principles That Shape Our Lives"
                    author="Kit Yates"
                    year="2020"
                    cover="mathematics_of_life_and_death.jpg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio title="Holly" author="Stephen King" year="2023" cover="holly.jpg" />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="You Like It darker: Stories"
                    author="Stephen King"
                    year="2024"
                    cover="you_like_it_darker.jpg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="We Have No Idea: A Guide to the Unknown Universe"
                    author="Jorge Cham, Daniel Whiteson"
                    year="2017"
                    cover="no_idea.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="“Surely You’re Joking, Mr. Feynman!”: Adventures of a Curious Character"
                    author="Richard Feynman"
                    year="1985"
                    cover="joking_mr_feynman.jpg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold">1%</span>
                </div>
                <Biblio
                    title="Collapse: How Societies Choose to Fail or Succeed"
                    author="Jared Diamond"
                    year="2004"
                    cover="collapse.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="Milton Berle's Private Joke File: Over 10,000 of His Best Gags, Anecdotes, and One-Liners"
                    author="Milton berle"
                    year="1989"
                    cover="milton_berle_joke_file.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Cartoon Guide to Statistics"
                    author="Larry Gonick, Woollcott Smith"
                    year="1993"
                    cover="cartoon_statistics.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="reading" class="w-8 text-orange-400 shrink-0" />
                    <span class="text-gray-300 font-bold">2%</span>
                </div>
                <Biblio
                    title="The Far Side Gallery 2"
                    author="Gary Larson"
                    year="1986"
                    cover="the_far_side_gallery_2.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Far Side Gallery 3"
                    author="Gary Larson"
                    year="1984"
                    cover="the_far_side_gallery_3.jpeg"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Visual Display of Quantitative Information, 2nd Ed."
                    author="Edward R. Tufte"
                    year="1983"
                    cover="visual_display.jpeg"
                />
            </li>
        </ul>
    </div>
</Page>
