---
import Page from '../layouts/page.astro'
import Quote from '../components/quote'
import Title from '../components/title'
import Biblio from '../components/biblio'
import { Icon } from 'astro-icon'
---

<Page title="Vincent Ramdhanie">
    <div class="py-2">
        I am a <a
            href="https://bahai.org"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Baha'i</a
        >. Baha'is are working in your neighbourhood to build better communities and develop an ever
        advancing society. You can read more about the work of the Baha'is <a
            href="https://www.bahai.org/action"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">here</a
        >.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        I am a senior software engineer. I work at <a
            href="https://sybill.ai"
            class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Sybill</a
        >. Sybill is an AI-powered sales assistant that automates CRM updates, crafts personalized follow-up emails, and provides accurate call summaries by analyzing verbal and non-verbal cues, enhancing sales team productivity and efficiency.
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        <div class="flex flex-col md:flex-row gap-6 items-start">
            <div class="md:w-1/3 shrink-0 order-1">
                <img src="/images/work.webp" alt="Remote Work Environment" class="rounded-md shadow-sm w-full" />
            </div>
            <div class="md:w-2/3 order-2">
                <p>
                    Previously, I was a senior software engineer at <a
                        href="https://lindy.ai"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Lindy</a
                    >. Lindy.ai is building advanced autonomous agents that can independently handle complex tasks across multiple domains, with sales and customer support being just two examples of the capabilities these AI agents can perform. These autonomous agents are designed to understand context, make decisions, and execute complete workflows without human intervention.
                </p>
                <p class="mt-2">
                    Lindy pivoted from <a href="https://teamflowhq.com" class="text-blue-500 underline hover:text-blue-400 hover:no-underline">Teamflow</a>. Teamflow is an all-in-one virtual office platform that enables remote teams to collaborate seamlessly through features like spatial audio, customizable workspaces, and integrated tools, fostering spontaneous interactions and efficient meetings.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        <div class="font-bold mb-4">Artificial Intelligence</div>
        <div class="flex flex-col md:flex-row gap-6 items-start">
            <div class="md:w-2/3 order-2 md:order-1">
                <p class="py-2">
                Artificial intelligence is at the forefront of technological progress, with the potential to reshape society and drive scientific advancements that improve global quality of life.
                </p>
                <p class="py-2">
                    I have studied AI since my undergraduate years, focusing on neural networks, decision support systems, and compilers. In graduate school, I explored AI applications, Prolog, and SML, with my Master's thesis on implementing a parallel version of the simulated annealing algorithm on GPU architecture.
                </p>
                <p class="py-2">
                    As machine learning gained prominence, I dedicated time to teaching and mentoring in the field.
                </p>
                <p class="py-2">
                    Today, I work with a team of engineers to harness AI for meaningful impact. The challenges are significant, but the opportunities for learning and innovation are vast.
                </p>
            </div>
            <div class="md:w-1/3 shrink-0 order-1 md:order-2">
                <img src="/images/gpu.webp" alt="GPU Architecture" class="rounded-md shadow-sm w-full" />
            </div>
        </div>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2">
        Any hope of contributing to a brighter future for mankind, rest on the fundamental
        acceptance of the nobility of man.

        <Quote author="Baha'u'llah">
            <span class="font-semibold">O SON OF SPIRIT!</span>
            <span class="block"
                >Noble have I created thee, yet thou hast abased thyself. Rise then unto that for
                which thou wast created.</span
            >
        </Quote>
    </div>
    <div class="w-full text-center text-gray-200 font-sm my-4">- &#9702; -</div>
    <div class="py-2 w-full max-w-3xl">
        <Title title="2025" subtitle="Reading List" />
        <ul class="list-none">
            <li class="flex items-center border-b border-b-gray-100" data-id="9781541604940">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="How to Expect the Unexpected: The Science of Making Predictions―and the Art of Knowing When Not To"
                    author="Kit Yates"
                    year="2023"
                    cover="http://books.google.com/books/content?id=nKW8EAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                >
                    This book was featured on the Physics World podcast.
                </Biblio>
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9781982111878">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Math of Life and Death: 7 Mathematical Principles That Shape Our Lives"
                    author="Kit Yates"
                    year="2020"
                    cover="http://books.google.com/books/content?id=LFXDDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9781668037737">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="You Like It darker: Stories"
                    author="Stephen King"
                    year="2024"
                    cover="http://books.google.com/books/content?id=TazgEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9780735211537">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="We Have No Idea: A Guide to the Unknown Universe"
                    author="Jorge Cham, Daniel Whiteson"
                    year="2017"
                    cover="http://books.google.com/books/content?id=jpLZDAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9780393339857">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="“Surely You're Joking, Mr. Feynman!”: Adventures of a Curious Character"
                    author="Richard Feynman"
                    year="1985"
                    cover="http://books.google.com/books/content?id=7papZR4oVssC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
             <li class="flex items-center border-b border-b-gray-100" data-id="9780143117001">
    <div class="self-start p-4">
        <Icon name="reading" class="w-8 text-orange-400 shrink-0" />
        <span class="text-gray-300 font-bold">57%</span>
    </div>
    <Biblio
        title="Collapse"
        author="Jared Diamond"
        year="2011"
        cover="http://books.google.com/books/content?id=WzA7DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
    >
        In Jared Diamond’s follow-up to the Pulitzer-Prize winning Guns, Germs and Steel, the author explores how climate change, the population explosion and political discord create the conditions for th...
    </Biblio>
</li>    <li class="flex items-center border-b border-b-gray-100" data-id="9780517587164">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="Milton Berle's Private Joke File: Over 10,000 of His Best Gags, Anecdotes, and One-Liners"
                    author="Milton berle"
                    year="1989"
                    cover="http://books.google.com/books/content?id=74g-DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9780062731029">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Cartoon Guide to Statistics"
                    author="Larry Gonick, Woollcott Smith"
                    year="1993"
                    cover="http://books.google.com/books/content?id=sjUcgxEz4x0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9780836220858">
                <div class="self-start p-4">
                    <Icon name="reading" class="w-8 text-orange-400 shrink-0" />
                    <span class="text-gray-300 font-bold">75%</span>
                </div>
                <Biblio
                    title="The Far Side Gallery 2"
                    author="Gary Larson"
                    year="1986"
                    cover="http://books.google.com/books/content?id=WyBswG5g958C&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9780836218107">
                <div class="self-start p-4">
                    <Icon name="reading" class="w-8 text-orange-400 shrink-0" />
                    <span class="text-gray-300 font-bold">50%</span>
                </div>
                <Biblio
                    title="The Far Side Gallery 3"
                    author="Gary Larson"
                    year="1984"
                    cover="http://books.google.com/books/content?id=zB0RAQAAMAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                />
            </li>
            <li class="flex items-center border-b border-b-gray-100" data-id="9781930824133">
                <div class="self-start p-4">
                    <Icon name="wait" class="w-8 text-yellow-400 shrink-0" />
                    <span class="text-gray-300 font-bold"></span>
                </div>
                <Biblio
                    title="The Visual Display of Quantitative Information, 2nd Ed."
                    author="Edward R. Tufte"
                    year="1983"
                    cover="http://books.google.com/books/content?id=7Npo0QEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                />
       
                                    <li class="flex items-center border-b border-b-gray-100" data-id="9780316387316">
                <div class="self-start p-4">
                    <Icon name="reading" class="w-8 text-orange-400 shrink-0" />
                    <span class="text-gray-300 font-bold">23%</span>
                </div>
                <Biblio
                    title="The Blade Itself"
                    author="Joe Abercrombie"
                    year="2015"
                    cover="http://books.google.com/books/content?id=wwspvAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                >
                    The first novel in the First Law Trilogy and debut fantasy novel from New York Times bestseller, Joe Abercrombie. Logen Ninefingers, infamous barbarian, has finally run out of luck. Caught in one feud too many, he's on the verge of becoming a dead barbarian -- leaving nothing behind him but bad songs, dead friends, and a lot of happy enemies. Nobleman, dashing officer, and paragon of selfishness, Captain Jezal dan Luthar has nothing more dangerous in mind than fleecing his friends at cards and dreaming of glory in the fencing circle. But war is brewing, and on the battlefields of the frozen North they fight by altogether bloodier rules. Inquisitor Glokta, cripple turned torturer, would like nothing better than to see Jezal come home in a box. But then Glokta hates everyone: cutting treason out of the Union one confession at a time leaves little room for friendship. His latest trail of corpses may lead him right to the rotten heart of government, if he can stay alive long enough to follow it. Enter the wizard, Bayaz. A bald old man with a terrible temper and a pathetic assistant, he could be the First of the Magi, he could be a spectacular fraud, but whatever he is, he's about to make the lives of Logen, Jezal, and Glokta a whole lot more difficult. Murderous conspiracies rise to the surface, old scores are ready to be settled, and the line between hero and villain is sharp enough to draw blood. Unpredictable, compelling, wickedly funny, and packed with unforgettable characters, The Blade Itself is noir fantasy with a real cutting edge. First Law Trilogy The Blade Itself Before They Are Hanged Last Argument of Kings For more from Joe Abercrombie, check out: Novels in the First Law world Best Served Cold The Heroes Red Country
                </Biblio>
            </li>       
        </ul>
    </div>
</Page>
