---
import Title from '../components/title'
import { Icon } from 'astro-icon'
import Page from '../layouts/page.astro'
---

<Page title="Uses">
    <section class="">
        <div class="explain">
            Below is a list of tools and environments that I use in my daily work as a software
            developer, lecturer and technical writer.
        </div>
        <div class="attribution">
            Inspired by Wes Bos'{' '}
            <a href="https://github.com/wesbos/awesome-uses">Awesome Uses</a> page.
        </div>
        <section class="my-2">
            <Title title="Code" subtitle="Editors" />
            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>IntelliJ IDEA Ultimate Edition</h3>
                    <div class="my-1">
                        Jetbrains has always produced amazing IDEs. I use the Ultimate Edition for
                        full stack development at Lindy. It is a paid product but well worth it.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://www.jetbrains.com/idea/"
                        title="Jetbrains Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="intellij" class="w-6" />
                    </a>
                </div>
            </div>
            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Visual Studio Code (VSCode)</h3>
                    <div class="my-1">
                        Became my main code editor sometime in mid 2018 taking over from Webstorm.
                        It feels lightweight, is free, and unlimited extensions are available.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://code.visualstudio.com/"
                        title="VSCode Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="vscode" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Webstorm</h3>
                    <div class="my-1">
                        Webstorm is an excellent IDE. I very reluctantly moved over to VSCode and
                        still keep it around and use on a few select projects just because it is so
                        great.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://www.jetbrains.com/webstorm/"
                        title="Webstorm Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="webstorm" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Android Studio</h3>
                    <div class="explanation">
                        Built by the same folks that brought you Webstorm and many other amazing
                        IDEs.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://developer.android.com/studio"
                        title="Android Studio Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="android" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Xcode</h3>
                    <div class="explanation">
                        Don't use this so much as an editor but rather use many of the tools that
                        are available with Xcode. Also needed for generating iOS apps from React
                        Native.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://developer.apple.com/xcode/"
                        title="Xcode Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="apple" class="w-6" />
                    </a>
                </div>
            </div>
        </section>

        <section class="my-2">
            <Title title="Editor" subtitle="Configurations" />
            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Emmet</h3>
                    <div class="explanation">
                        An amazing time saving plugin for generating code snippets for HTML and CSS.
                        Available for most IDEs.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://emmet.io/"
                        title="Emmet Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="emmet" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Prettier</h3>
                    <div class="explanation">
                        Alright, some controversy exist over this, but I have no problem with
                        prettier formatting my code for me after I set up the rules that I like.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://prettier.io/"
                        title="Prettier Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="prettier" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>ESLint</h3>
                    <div class="explanation">
                        Sometimes ESLint and prettier gets into a fight but both are useful so its
                        worth making them work together.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://eslint.org/"
                        title="ESlint Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="eslint" class="w-6" />
                    </a>
                </div>
            </div>
        </section>

        <section class="my-2">
            <Title title="Terminals" subtitle="" />
            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Zsh</h3>
                    <div class="explanation">
                        Adopted this after macOS did. Spent years on Bash. There are a few features
                        of Zsh that I like but so far no impactful difference.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://en.wikipedia.org/wiki/Z_shell"
                        title="Zsh Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="zsh" class="w-6" />
                    </a>
                </div>
            </div>

            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Oh My Zsh</h3>
                    <div class="explanation">
                        Pretty decent tool for configuring and managing the Zsh terminal. I may have
                        used less than 1% of the goodies that it offers so far but I'm happy with
                        it.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://ohmyz.sh/"
                        title="Oh My Zsh Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="ohmyzsh" class="w-6" />
                    </a>
                </div>
            </div>
        </section>
        <section class="my-2">
            <Title title="Productivity" subtitle="Tools" />
            <div class="my-2 mb-4">
                <div class="grow pr-2">
                    <h3>Things</h3>
                    <div class="explanation">Amazing what a simple todo list can do.</div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://culturedcode.com/things/"
                        title="Things Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        Things
                    </a>
                </div>
            </div>
            <div class="my-2 mb-4 flex">
                <div class="grow pr-2">
                    <h3>Obsidian</h3>
                    <div class="explanation">
                        Super extendable and feature rich text editor. For all my non-code writing.
                    </div>
                </div>
                <div class="link grow-0">
                    <a
                        href="https://obsidian.md/"
                        title="Obsidian Website"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="text-blue-500 underline hover:text-blue-400 hover:no-underline"
                    >
                        <Icon name="obsidian" class="w-6" />
                    </a>
                </div>
            </div>
        </section>
    </section>
</Page>
