<header class="border-b border-slate-200 pb-4">
    <div class="container mx-auto grow-0">
        <div class="flex flex-row justify-between items-center">
            <div>
                <img src="/images/logo.png" alt="logo" class="w-12 h-12 rounded-sm" />
            </div>
            <div class="text-right">
                <div class="font-mono text-lg font-bold text-slate-800">Vincent Ramdhanie</div>
                <div class="text-sm text-slate-500 font-light tracking-wide">Senior Software Engineer</div>
            </div>
        </div>
    </div>
</header>
