<header>
    <div class="container mx-auto p-2 grow-0">
        <div class="flex flex-row justify-end">
            <div class="w-48">
                <div class="w-fit text-md">Vincent Ramdhanie</div>
                <div class="w-fit text-sm">Software Developer</div>
            </div>
        </div>
    </div>
</header>
