<header>
    <div class="container mx-auto p-2 grow-0">
        <div class="flex flex-row justify-end">
            <div class="w-fit text-right">
                <div class="w-fit text-md text-right">Vincent Ramdhanie</div>
                <div class="w-fit text-sm text-right">Software Developer</div>
            </div>
        </div>
    </div>
</header>
