---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
const { title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="font-mono">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8 h-screen flex flex-col">
        <Header />
        <main class="flex-1">
            <h1 class="text-2xl font-bold text-left">{title}</h1>
            <slot />
        </main>
        <Footer />
      </div>
    </body>
</html>
